build/.cmake/*
build/Testing/Temporary/
CMakeLists.txt.user
CMakeFiles/
cmake_install.cmake
*.cmake
Makefile
*.so
*.so.*
_out64
out32/*
out64/*
*.pyc
build
build32
dbuild
build-android/external
.DS_Store
